{% extends 'layouts/app.html.twig' %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">...</h1>
    <a href="/articles/update/{{ article.id }}" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</a>
    <a href="/articles/delete/{{ article.id }}" class="bg-blue-500 text-white px-4 py-2 rounded">Delete</a>

    <p class="bg-white mb-2"><span class="font-semibold">Title:</span> {{ article.title }}</p>
    <p class="bg-white mb-2"><span class="font-semibold">By</span> {{ article.author }}</p>
    <p class="bg-white mb-4"><span
                class="font-semibold">..</span> {{ article.content }}</p>
{% endblock %}